<ion-header>
  <ion-toolbar>
    <ion-title>Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tabs/discover">
        <ion-icon name="search-sharp"></ion-icon>
        <ion-label>Discover</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tabs/offers">
        <ion-label>Offers</ion-label>
        <ion-icon name="card-sharp"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
