<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Pair BnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="main">
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/', 'places', 'tabs', 'discover']">
            <ion-icon name="business-sharp" slot="start"></ion-icon>
            <ion-button
              fill="clear"
              color="dark"
              size="default"
              [routerLink]="['/', 'places', 'tabs', 'discover']"
            >
              <ion-label>Discover Places</ion-label>
            </ion-button>
          </ion-item>
          <ion-item routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-button
              fill="clear"
              color="dark"
              size="default"
              routerLink="/bookings"
            >
              <ion-label>Your Bookings</ion-label>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-button
              fill="clear"
              color="dark"
              size="default"
              (click)="onLogout()"
            >
              <ion-label>Logout</ion-label>
            </ion-button>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
